{% extends 'base.html.twig' %}

{% block title %}File panel{% endblock %}

{% block body %}
{#    <div id="sidebar" class="border col-sm-2"></div>#}
    <div id="work-area" class="border col-sm-12">
        <div id="toolbar" class="border">
            <button id="create_text_file_btn">Create text file</button>
            <button id="create_dir_btn">Create directory</button>
            <label>
                Upload file
                <input id="upload_file" type="file">
            </label>
            <span id="cur_directory"></span>
        </div>
        <div id="content" class="border px-2">
            <table id="directory-content-table" class="w-100">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const defaultCurrentDirectory = {
            'name': '{{ rootDir.name }}',
            'id': {{ rootDir.id }},
            'parentDir': null
        };
    </script>
    <script src="{{ asset('js/WebsocketClient.js') }}"></script>
    <script src="{{ asset('js/DirectoryContentHandler.js') }}"></script>
    <script src="{{ asset('js/GUIHandler.js') }}"></script>
    <script src="{{ asset('js/Initializer.js') }}"></script>
{% endblock %}